*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(192, 17, 223);
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
main{
    background-color: rgb(255,255, 255);
    height: 500px; ;
    width: 400px; ;
    border-radius:  10px;
    box-shadow: 0px 0px 20px 5px rgb(89, 5, 92);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(48,48,48);
}
.text-section{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 5px;
}
.text-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(36,36,36);
    align-self: flex-start;
}
#text{
    height: 7rem;
    width: 20rem;
    border: none;
    outline: 2px solid rgba(128,128,128, 0.623);
    border-radius: 0.5rem;
    resize: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 10px;
}
.voice-section{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 5px;
}
.voice-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(36,36,36);
    align-self: flex-start;
}
#voice{
    height: 2rem;
    width: 20rem;
    border: none;
    outline: 2px solid rgba(128,128,128, 0.623);
    border-radius: 0.4rem;
    padding: 0px 10px;
}
.submit{
    background-color: rgba(243, 143, 243, 0.6);
    color: white;
    height: 2rem;
    width: 20rem;
    border-radius: 0.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
}